$background-color: #ffffff;
$primary-color: #636363;
$secondary-color: #ff0000;
$button-color: #1ddd1d;

%flex {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

%box {
  background-color: $background-color;
  box-shadow: 0px 0px 10px 0px #58585857;
  border-radius: 0.5em;
}

:root {
  --nav-TextColor: #1b1b1b;
  --nav-DropBG: #080808;
  --nav-DropTextColor: #252525;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  overflow-x: hidden;
  background-color: $background-color;
  color: $primary-color;
  overflow-x: hidden;
  #pageBg {
    width: 100%;
    overflow-x: hidden;
    position: absolute;
    #firstWave {
      stroke: $secondary-color;
      animation: glow 20s infinite alternate;
    }
    #secondWave {
      animation: glow 20s infinite alternate-reverse;
      stroke: $secondary-color;
    }
    #thirdWave {
      animation: glow 20s infinite alternate;
      stroke: $secondary-color;
    }
  }
  .button-section {
    position: relative;
    width: 70vw;
    height: auto;
    @extend %flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 3em 0 3em 0;
    button {
      width: 11em;
      height: 2em;
      border: none;
      border-radius: 0.7em;
      background-color: #ffffff;
      font-size: 1rem;
      font-weight: 500;
      letter-spacing: 2px;
      cursor: pointer;
      outline: none;
      transition: color, box-shadow 0.3s ease-in;
      &:hover {
        border: 1px solid #80808069;
      }
    }
    .active {
      color: $secondary-color;
      box-shadow: 0px 2px 5px 0px #727272bf;
      &:hover {
        border: none;
      }
    }
  }
}
@keyframes glow {
  0% {
    opacity: 0.7;
    transform: translateX(10%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
.container {
  position: relative;
  @extend %flex;
  flex-direction: column;
  .head-rectangle {
    position: relative;
    width: 40vw;
    height: 20em;
    border-radius: 1em;
    background-color: $secondary-color;
    background-size: 100%;
    margin: 5em auto;
    @extend %flex;

    &:before {
      content: " ";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0.3;
      background-image: url("/assets/sfi.webp");
      background-repeat: no-repeat;
      background-position: 50% 40%;
      border-radius: 1em;
      background-size: cover;
    }
    h1 {
      position: relative;
      font-size: 7rem;
      color: white;
    }
  }
  article {
    width: 60vw;
    text-align: left;
    margin: 1em;
    border: 2px solid $secondary-color;
    border-radius: 1em;
    animation: showSlowly 1s ease-in;
    p {
      margin: 1em;
      letter-spacing: 0.1px;
    }
  }
  .programs {
    margin: 2em;
    p {
      margin: 1em 0 0 0;
    }
  }
  .contents {
    margin: 2em;
    text-align: center;
    h1 {
      margin-bottom: 2em;
    }
  }
}
@keyframes showSlowly {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
footer {
  position: relative;
  width: 100%;
  padding: 1em;
  height: fit-content;
  @extend %flex;
  flex-direction: column;
  .about {
    width: 100%;
    height: 2em;
    text-align: center;
    p {
      margin-bottom: 1em;
      padding: 0;
      height: max-content;
    }
  }

  img {
    width: 5em;
  }
}
@media (max-width: 600px) {
  body {
    font-size: 14px;
    #pageBg {
      display: none;
    }
    .button-section {
      margin: 0 0 3em 0;
      flex-direction: column;
      height: 7em;
      justify-content: space-between;
      button {
        font-size: 12px;
      }
    }
    footer {
      flex-direction: row-reverse;
      height: fit-content;
      padding: 0.5em;
      .about {
        width: 100%;
        text-align: center;
        p {
          padding: 0;
          height: max-content;
          width: max-content;
        }
      }
    }
  }
  .container {
    .head-rectangle {
      width: 80vw;
      height: 10em;
      background-color: black;
      h1 {
        font-size: 3rem;
      }
    }
    article {
      width: 90%;
    }
  }
}
