:root {
    --nav-TextColor: rgb(240, 240, 240);
    --nav-DropBG: rgb(241, 241, 241);
    --nav-DropTextColor: rgb(37, 37, 37);

}

* {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

body {
    background-color: rgb(80, 80, 80);
    color: rgb(0, 0, 0);
    overflow-x: hidden;
}


#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#hero img {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    width: 102%;
    margin-left: -10px;
    filter: brightness(30%);
}

#hero .sfiFront {
    height: 105vh;
    object-fit: cover;
}

#hero h1 {
    color: rgb(180, 0, 0);
    font-family: 'Baloo Chettan 2', cursive;
    font-size: 20px;
}

#hero p {
    width: 50%;
    text-align: center;
    font-family: 'Baloo Chettan 2', cursive;
    color: white;
}

#hero .sfiSubs {
    margin-top: 100px;
    text-align: center;
}

#hero .sfiSubs a {
    padding: 20px;
    text-decoration: none;
    font-family: 'Baloo Chettan 2', cursive;
    color: rgb(0, 213, 228);

}

.paragraphs p {

    font-family: 'Baloo Chettan 2', cursive;
}

#about {
    height: 100vh;
}

#samskara {
    height: 100vh;
}

#mathrukam {
    height: 100vh;
}

/* animations */

/* media  */
@media(max-width : 600px) {
    #hero h1 {
        position: relative;
        margin-top: 0%;
        width: 80%;
        text-align: center;
        font-size: 15px;
    }

    #hero p {
        width: 90%;
        text-align: center;
        font-size: 10px;
    }

    #hero .sfiSubs {
        margin: 0;
        text-align: center;
    }

    #hero .sfiSubs a {
        padding: 5px;
        font-size: 10px;
        font-family: 'Baloo Chettan 2', cursive;
        display: block;
    }

    #hero img {
        pointer-events: none;
        position: absolute;
        z-index: -1;
        width: 110%;
        margin-left: -10px;
        filter: brightness(31%);
    }

}