$background-color: #ffffff;
$primary-color: #636363;
$secondary-color: #ff0000;
$button-color: #1ddd1d;

%flex {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

%box {
  background-color: $background-color;
  box-shadow: 0px 0px 10px 0px #58585857;
  border-radius: 0.5em;
}

:root {
  --nav-TextColor: #1b1b1b;
  --nav-DropBG: #080808;
  --nav-DropTextColor: #252525;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  overflow-x: hidden;
  background-color: $background-color;
  color: $primary-color;
  overflow-x: hidden;
  #pageBg {
    width: 100%;
    overflow-x: hidden;
    position: absolute;
    #firstWave {
      stroke: $secondary-color;
      animation: glow 20s infinite alternate;
    }
    #secondWave {
      animation: glow 20s infinite alternate-reverse;
      stroke: $secondary-color;
    }
    #thirdWave {
      animation: glow 20s infinite alternate;
      stroke: $secondary-color;
    }
  }
}
@keyframes glow {
  0% {
    opacity: 0.7;
    transform: translateX(10%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
.container {
  position: relative;
  @extend %flex;
  flex-direction: column;
  .head-rectangle {
    position: relative;
    width: 40vw;
    height: 20em;
    border-radius: 1em;
    background-color: $secondary-color;
    background-size: 100%;
    margin: 5em auto;
    @extend %flex;

    &:before {
      content: " ";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0.3;
      background-image: url("/assets/sfi.webp");
      background-repeat: no-repeat;
      background-position: 50% 40%;
      border-radius: 1em;
      background-size: cover;
    }
    h1 {
      position: relative;
      font-size: 7rem;
      color: white;
    }
  }
  article {
    width: 60vw;
    text-align: left;
    margin: 1em;
    border: 2px solid $secondary-color;
    border-radius: 1em;
    p {
      margin: 1em;
      letter-spacing: 0.1px;
    }
  }
}

footer {
  position: relative;
  width: 100%;
  padding: 1em;
  height: fit-content;
  @extend %flex;
  flex-direction: column;
  p {
    display: block;
    color: $primary-color;
  }
  img {
    width: 5em;
  }
}
@media (max-width: 600px) {
  body {
    font-size: 14px;
    #pageBg {
      width: 100vw;
      margin-top: -40%;
    }
    footer {
      height: fit-content;
      text-align: center;
    }
  }
  .container {
    .head-rectangle {
      width: 80vw;
      height: 10em;
      background-color: black;
      h1 {
        font-size: 3rem;
      }
    }
    article {
      width: 90%;
    }
  }
}
