:root {
    --nav-TextColor: rgb(240, 240, 240);
    --nav-DropBG: rgb(241, 241, 241);
    --nav-DropTextColor: rgb(37, 37, 37);

}



*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    color: rgb(209, 200, 200);
}

body {
    background: rgb(224, 224, 224);
}


#hero {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    overflow: hidden;
}

#hero img {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    width: 100vw;
    top: 0;
    filter: brightness(30%);

}

#hero .sfiFront {
    height: 105vh;
    object-fit: cover;
}

#hero h1 {
    color: rgb(180, 0, 0);
    font-size: 30px;
    margin-bottom: 10px;
}

#hero p {
    width: 50%;
    text-align: center;
    font-size: .9rem;
    color: white;
}

#hero .sfiSubs {
    margin-top: 100px;
    text-align: center;
}

#hero .sfiSubs a {
    padding: 20px;
    text-decoration: none;
    color: rgb(0, 213, 228);

}


#about {
    height: 200vh;
    margin: 5%;
    color: black;
    display: flex;
    flex-direction: column;
    font-size: .9rem;
    justify-content: center;
}

#about .aboutpara {
    max-width: 100%;
}

.programs {
    margin-top: 30px;
    max-width: 100%;
    height: 100vh;

}

.programs h1 {
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 20px;
}

.programs p {
    margin-bottom: 10px;
}

.programs p i {
    font-weight: bold;
    margin-bottom: 3px;
}

/* animations */

/* media  */
@media(max-width : 600px) {
    #hero h1 {
        position: relative;
        margin-top: 0%;
        width: 80%;
        text-align: center;
        font-size: 15px;
    }

    #hero p {
        width: 90%;
        text-align: center;
        font-size: 10px;
    }

    #hero .sfiSubs {
        margin: 0;
        text-align: center;
    }

    #hero .sfiSubs a {
        padding: 5px;
        font-size: 10px;
        display: block;
    }

    #hero img {
        pointer-events: none;
        position: absolute;
        z-index: -1;
        width: 110%;
        margin-left: -10px;
        filter: brightness(31%);
    }

    #about h1 {
        font-size: 15px;

    }

    #about {

        font-size: 10px;
    }

}