:root {
    --nav-TextColor: rgb(241, 241, 241);
    --nav-DropBG: rgb(252, 252, 252);
    --nav-DropTextColor: rgb(44, 44, 44);
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    color: rgb(209, 200, 200);
}

body {
    background-color: rgb(24, 24, 24);
}