:root {
    --nav-TextColor: rgb(241, 241, 241);
    --nav-DropBG: rgb(252, 252, 252);
    --nav-DropTextColor: rgb(44, 44, 44);
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    color: rgb(209, 200, 200);
}

body {
    background-color: rgb(24, 24, 24);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

main h1 {
    text-align: center;
    font-size: .9rem;
}

main h1::after {
    display: block;
    content: '( closed until college re-opens )';
    font-size: .6rem;
    color: rgba(127, 255, 212, 0.541);
    margin-top: 5px;
}