:root{
	--nav-TextColor : rgb(252, 252, 252);
}
#navBar{
	position: relative;
}
#dvayaBox{
	position: absolute;
	padding: 10px;
	display: flex;
	flex-direction: row;
    font-size: 10px;

}
#dvayaBox img{
	width: 50px;
}
#dvayaBox span{
	margin-left: 5px;
	margin-top: 7px;
    font-size: 12px;
}
#rightNav{
	position: absolute;
	right: 0;

	display: flex;
	flex-direction: row;
	
	padding : 10px;
}

#rightNav div{
	margin-left: 30px;
}
#rightNav a{
	text-decoration: none;
}
#menuBurger{
	position: relative;
	display: block;
	right: 0;
	cursor: pointer;
}
#freshersButton{
    font-weight: 600;
	position: relative;
    color: var(--nav-TextColor);
    border: 2px solid var(--nav-TextColor);
    border-radius: 3px;
    padding: 5px;
	cursor: pointer;
}
#freshersButton:hover{	
	background-color: white;
	color: black;	
}


.hamburger {
	width: 30px;
	height: 30px;
  }
  .hamburger span {
	display: block;
	margin: 6px auto;
	background-color: white;
	width: 100%;
	height: 3px;
	border-radius: 5px;
	transition: all .5s ease;
  }
  .hamburger:hover span:first-child {
	transform: translateY(-3px);
  }
  .hamburger:hover span:nth-child(3) {
	transform: translateY(3px);
  }
  
  /* Hambuger click animation to cross */
  .hamburger.is-opened span:first-child {
	transform: translateY(9px) rotate(45deg);
  }
  .hamburger.is-opened span:nth-child(2) {
	transform: scaleX(0);
  }
  .hamburger.is-opened span:nth-child(3) {
	transform: translateY(-9px) rotate(-45deg);
  }

  ::-webkit-scrollbar{
	  width: 0;
  }

  #dropdown{
	  display: none;
	  position: absolute;
	  right: 3px;
	  animation: showDropdown .8s ease-in-out forwards;
	  transform-origin: top center;
	  margin-top: 10px;
  }
  .rectangleDrop{
	  width: 212px;
	  height: 350px;
	  background: rgb(255, 255, 255);
	  border-radius: 3px;
  }
  #dropdown ul li{
	  list-style: none;
	  margin-top: 10px;
	  margin-left: -10px;
    font-weight: 500;
    animation: showStuff .8s ease-in-out;
  }
  #dropdown ul li a{
    color: black;
  }
  .sfi a{
    margin-top: 20%;
    display: inline-block;
    background-color: rgb(70, 205, 223);
    border-radius: 2px;
    padding: 5px;
    filter: invert();
    text-transform: uppercase;
  }
  .bottomOfNav1 a{
    display: inline-block;
    margin-top: 20%;
  }
  .bottomOfNav2 a::after{
    content: ' (closed)';
    font-weight: 300;
    font-size: 10px;
  }
  @keyframes showDropdown{
	0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.01)
    }
    100% {
        transform: scaleY(1)
    }
  }
  @keyframes showStuff{
    0%{
      opacity: 0;
    }
    80%{
      opacity: .7;
    }
    100%{
      opacity: 1;
    }
  }

  @media (max-width : 480px){
      #dvayaBox{
        font-size: 10px;
      }
      #dvayaBox img{
        width: 30px;
      }
      #dvayaBox span{
        font-size: 7px;
      }
      #freshersButton{
        font-weight: 400;
        font-size: 10px;
        border: 1px solid var(--nav-TextColor);
    }
    .hamburger {
      width: 25px;
      margin-top: -1%;
    }
    .hamburger span {
      margin: 5px auto;
      background-color: white;
      width: 100%;
      height: 2px;
      border-radius: 5px;
      transition: all .5s ease;
      }
      .rectangleDrop{
        width: 160px;
        height: 330px;
      }
      #dropdown ul li{
        margin-top: 10px;
        margin-left: -23px;
      }
      .hamburger.is-opened span:first-child {
        transform: translateY(9px) rotate(45deg);
        }
      .hamburger.is-opened span:nth-child(3) {
        transform: translateY(-5px) rotate(-45deg);
      }
  }
