#navBar {
  position: fixed;
  margin-top: 10px;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}


#dvayaBox {
  position: absolute;
  display: flex;
  flex-direction: row;
  font-size: 10px;
  color: var(--nav-TextColor);
}

#dvayaBox img {
  width: 50px;
}

#dvayaBox span {
  color: var(--nav-TextColor);
  margin-left: 5px;
  margin-top: 7px;
  font-size: 12px;
}

#rightNav {
  position: absolute;
  right: 20px;
  display: flex;
  flex-direction: row;
}

#rightNav a {
  text-decoration: none;
}

#freshersButton {
  font-size: 16px;
  font-weight: 600;
  color: var(--nav-TextColor);
  border: 2px solid var(--nav-TextColor);
  border-radius: 3px;
  padding: 4.5px;
  cursor: pointer;
  margin-top: -3px;
  margin-right: 20px;
}

#freshersButton:hover {
  box-shadow: 0px 0px 10px rgb(190, 190, 190);
  transition: all 0.3s;
}

#menuBurger {
  display: block;
  cursor: pointer;
}

.hamburger {
  width: 40px;
  height: 50px;
}

.hamburger span {
  display: block;
  margin-bottom: 8px;
  background-color: var(--nav-TextColor);
  height: 3px;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.hamburger:hover span:first-child {
  transform: translateY(-2px);
}

.hamburger:hover span:nth-child(3) {
  transform: translateY(2px);
}

/* Hambuger click animation to cross */
.hamburger.is-opened span:first-child {
  transform: translateY(11px) rotate(45deg);
}

.hamburger.is-opened span:nth-child(2) {
  transform: scaleX(0);
}

.hamburger.is-opened span:nth-child(3) {
  transform: translateY(-11px) rotate(-45deg);
}

::-webkit-scrollbar {
  width: 0;
}

#dropdown {
  display: none;
  position: absolute;
  z-index: 2;
  right: 3px;
  animation: showDropdown 0.8s ease-in-out forwards;
  transform-origin: top center;
  margin-top: 10px;
}

.rectangleDrop {
  width: 250px;
  margin-right: -15px;
  height: 93vh;
  background: var(--nav-DropBG);
  border-radius: 3px;
}

#dropdown ul {
  margin-left: -20px;
  margin-top: 20px;

}

#dropdown ul li {
  list-style: none;
  margin-top: 10px;
  animation: showStuff 0.8s ease-in-out;
}

#dropdown ul li:last-child a::before {
  content: '©';
  font-size: 1rem;
  display: block;
}

#dropdown ul li:nth-last-child(2) {
  position: absolute;
  bottom: 0;
  margin-bottom: 70px;
}

#dropdown ul li:last-child a {
  display: block;
  color: var(--nav-DropTextColor);
  opacity: .7;
  position: absolute;
  bottom: 0;
  font-size: .6rem;
  font-weight: 300;
  padding-bottom: 20px;
}

#dropdown ul li a {
  color: var(--nav-DropTextColor);
  font-weight: 500;
  font-size: 16px;
}

#dropdown ul li.heading {
  color: rgb(112, 211, 82);
  font-size: 1rem;
}

.seperatingLineNav {
  position: relative;
  margin-left: -20px;
  width: 300px;
  height: 1px;
  background-color: rgba(175, 99, 0, 0.349);
}

.sfi a {
  margin-bottom: 10%;
  display: inline-block;
  background-color: rgb(238, 89, 89);
  border-radius: 3px;
  padding: 5px;
  text-transform: uppercase;
}

.bottomOfNav1 a {
  display: inline-block;
}

.bottomOfNav2 a::after {
  content: " (closed)";
  font-weight: 300;
  font-size: 10px;
}

@keyframes showDropdown {
  0% {
    transform: scaleY(0);
  }

  80% {
    transform: scaleY(1.01);
  }

  100% {
    transform: scaleY(1);
  }
}

@keyframes showStuff {
  0% {
    opacity: 0;
  }

  80% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 480px) {
  #navBar {
    position: fixed;
    width: 100vw;
    margin-top: 5px;
  }

  #dvayaBox {
    font-size: 10px;
  }

  #dvayaBox img {
    width: 30px;
  }

  #dvayaBox span {
    font-size: 7px;
  }

  #freshersButton {
    font-weight: 500;
    font-size: 12px;
    margin-right: 10px;
    border: 1px solid var(--nav-TextColor);
  }

  .hamburger {
    width: 30px;
    height: 30px;
  }

  .hamburger span {
    display: block;
    margin-bottom: 7px;
    background-color: var(--nav-TextColor);
    height: 2px;
    border-radius: 5px;
    transition: all 0.5s ease;
  }

  .rectangleDrop {
    width: 175px;
    margin-right: -15px;
    height: 95vh;
  }

  #dropdown ul li {
    font-size: 10px;
    margin-top: 10px;
    margin-left: -5px;
  }

  #dropdown ul li a {
    font-size: 15px;
  }

  .hamburger.is-opened span:first-child {
    transform: translateY(9px) rotate(45deg);
  }

  .hamburger.is-opened span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }

  #dropdown ul li:last-child a::before {
    font-size: 1rem;
  }

  #dropdown ul li:last-child a {
    font-size: .6rem;
  }

  #dropdown ul li.heading {
    color: rgb(112, 211, 82);
    font-size: .7rem;
  }

  .seperatingLineNav {
    display: none;
  }
}