#navBar {
  position: absolute;
  z-index: 3;
  margin: 0;
  padding: 0;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

#dvayaBox {
  position: absolute;
  display: flex;
  flex-direction: row;
  font-size: 10px;
  color: var(--nav-TextColor);
  left: 10px;
  top: 5px;

}

#dvayaBox img {
  width: 40px;
}

#dvayaBox span {
  color: var(--nav-TextColor);
  margin-left: 5px;
  margin-top: 7px;
  font-size: 10px;
}

#rightNav {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: row;
}

#rightNav a {
  text-decoration: none;
}

#freshersButton {
  font-size: 14px;
  font-weight: 500;
  color: var(--nav-TextColor);
  border: 2px solid var(--nav-TextColor);
  border-radius: 3px;
  padding: 3px;
  cursor: pointer;
  margin-right: 15px;
}

#freshersButton:hover {
  box-shadow: 0px 0px 10px rgb(190, 190, 190);
  transition: all 0.3s;
}

#menuBurger {
  margin-top: 3px;
  cursor: pointer;
}

.hamburger {
  width: 25px;
}

.hamburger span {
  display: block;
  margin-bottom: 5px;
  background-color: var(--nav-TextColor);
  height: 3px;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.hamburger:hover span:first-child {
  transform: translateY(-2px);
}

.hamburger:hover span:nth-child(3) {
  transform: translateY(2px);
}

/* Hambuger click animation to cross */
.hamburger.is-opened span:first-child {
  transform: translateY(7px) rotate(45deg);
}

.hamburger.is-opened span:nth-child(2) {
  transform: scaleX(0);
}

.hamburger.is-opened span:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

::-webkit-scrollbar {
  width: 0;
}

#dropdown {
  display: none;
  position: absolute;
  z-index: 4;
  right: 3px;
  animation: showDropdown 0.7s ease-out forwards;
  transform-origin: top center;
  margin-top: 10px;
}

.rectangleDrop {
  width: 190px;
  margin-right: -15px;
  background: var(--nav-DropBG);
  border-radius: 3px;
  cursor: default;
  overflow: hidden;
}

#dropdown ul {
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#dropdown ul li {
  list-style: none;
  margin-top: 8px;
  animation: showStuff 0.8s ease-in-out;
}

#dropdown ul li a {
  color: var(--nav-DropTextColor);
  font-weight: 500;
  font-size: 14px;
}

#dropdown ul li.heading {
  color: rgb(112, 211, 82);
  font-size: 0.8rem;
}

.seperatingLineNav {
  position: relative;
  margin-left: -20px;
  width: 300px;
  height: 1px;
  background-color: rgba(175, 99, 0, 0.349);
}

.sfi a {
  margin-bottom: 5%;
  display: inline-block;
  background-color: rgba(238, 89, 89, 0.76);
  border-radius: 3px;
  padding: 5px;
  text-transform: uppercase;
}

.bottomOfNav1 a {
  display: inline-block;
}

.bottomOfNav2 a::after {
  content: " (closed)";
  font-weight: 300;
  font-size: 10px;
}

footer p {
  text-align: center;
  font-size: .8rem;
  color: rgb(148, 148, 148);
}

@keyframes showDropdown {
  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}

@keyframes showStuff {
  0% {
    opacity: 0;
  }

  80% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}

/* media  */
/* media  */
/* media  */
/* media  */
/* media  */
/* media  */
/* media  */
/* media  */
/* media  */
/* media  */
/* media  */
/* media  */
/* media  */
/* media  */
/* media  */
/* media  */
/* media  */
@media (max-width: 480px) {
  #navBar {
    position: absolute;
  }

  #dvayaBox {
    font-size: 10px;
  }

  #dvayaBox img {
    width: 30px;
  }

  #dvayaBox span {
    font-size: 7px;
  }

  #freshersButton {
    font-weight: 500;
    font-size: 12px;
    margin-right: 10px;
    border: 1px solid var(--nav-TextColor);
  }

  .hamburger {
    width: 25px;
    height: 25px;
  }

  .hamburger span {
    display: block;
    margin-bottom: 4px;
    background-color: var(--nav-TextColor);
    height: 2px;
    border-radius: 5px;
    transition: all 0.5s ease;
  }

  .rectangleDrop {
    width: 170px;
  }

  #dropdown ul li {
    font-size: 10px;
    margin-top: 10px;
    margin-left: -5px;
  }

  #dropdown ul li a {
    font-size: 13px;
  }

  .hamburger.is-opened span:first-child {
    transform: translateY(6px) rotate(45deg);
  }

  .hamburger.is-opened span:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
  }

  #dropdown ul li.heading {
    color: rgb(112, 211, 82);
    font-size: 0.7rem;
  }

  .seperatingLineNav {
    display: none;
  }

  footer p {

    font-size: .7rem;
    text-align: left;
    margin: 4%;
  }

}