#navBar {
  position: relative;
}

html {
  scroll-behavior: smooth;

}

#dvayaBox {
  position: absolute;
  padding: 10px;
  display: flex;
  flex-direction: row;
  font-size: 10px;
  color: var(--nav-TextColor);
}

#dvayaBox img {
  width: 50px;
}

#dvayaBox span {
  color: var(--nav-TextColor);
  margin-left: 5px;
  margin-top: 7px;
  font-size: 12px;
}

#rightNav {
  position: absolute;
  right: 0;

  display: flex;
  flex-direction: row;

  padding: 10px;
}

#rightNav div {
  margin-left: 30px;
}

#rightNav a {
  text-decoration: none;
}

#menuBurger {
  position: relative;
  display: block;
  right: 0;
  cursor: pointer;
}

#freshersButton {
  font-weight: 600;
  position: relative;
  color: var(--nav-TextColor);
  border: 2px solid var(--nav-TextColor);
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
}

#freshersButton:hover {
  background-color: var(--nav-TextColor);
  color: var(--nav-DropBG);
  transition: all .3s;
}


.hamburger {
  width: 30px;
  height: 30px;
}

.hamburger span {
  display: block;
  margin: 6px auto;
  background-color: var(--nav-TextColor);
  width: 100%;
  height: 3px;
  border-radius: 5px;
  transition: all .5s ease;
}

.hamburger:hover span:first-child {
  transform: translateY(-3px);
}

.hamburger:hover span:nth-child(3) {
  transform: translateY(3px);
}

/* Hambuger click animation to cross */
.hamburger.is-opened span:first-child {
  transform: translateY(9px) rotate(45deg);
}

.hamburger.is-opened span:nth-child(2) {
  transform: scaleX(0);
}

.hamburger.is-opened span:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

::-webkit-scrollbar {
  width: 0;
}

#dropdown {
  display: none;
  position: absolute;
  z-index: 2;
  right: 3px;
  animation: showDropdown .8s ease-in-out forwards;
  transform-origin: top center;
  margin-top: 10px;
}

.rectangleDrop {
  width: 212px;
  height: 340px;
  background: var(--nav-DropBG);
  border-radius: 3px;
}


#dropdown ul li {
  list-style: none;
  margin-top: 10px;
  margin-left: -10px;
  font-weight: 500;
  animation: showStuff .8s ease-in-out;
}

#dropdown ul li a {
  font-size: 15px;
  color: var(--nav-DropTextColor);
}

#dropdown ul .heading {
  color: rgb(0, 170, 23);
  font-size: .8rem;
}

.seperatingLineNav {
  position: absolute;
  left: 0;
  margin-top: 5px;
  width: 100px;
  height: 1px;
  background-color: rgba(175, 99, 0, 0.349);
}

.sfi a {
  margin-bottom: 10%;
  display: inline-block;
  background-color: rgb(238, 89, 89);
  border-radius: 2px;
  padding: 3px;
  text-transform: uppercase;
}

.bottomOfNav1 a {
  display: inline-block;
}

.bottomOfNav2 a::after {
  content: ' (closed)';
  font-weight: 300;
  font-size: 10px;
}

@keyframes showDropdown {
  0% {
    transform: scaleY(0)
  }

  80% {
    transform: scaleY(1.01)
  }

  100% {
    transform: scaleY(1)
  }
}

@keyframes showStuff {
  0% {
    opacity: 0;
  }

  80% {
    opacity: .7;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width : 480px) {
  #dvayaBox {
    font-size: 10px;
  }

  #dvayaBox img {
    width: 30px;
  }

  #dvayaBox span {
    font-size: 7px;
  }

  #freshersButton {
    font-weight: 400;
    font-size: 10px;
    border: 1px solid var(--nav-TextColor);
  }

  .hamburger {
    width: 25px;
    margin-top: -1%;
  }

  .hamburger span {
    margin: 5px auto;
    height: 2px;
  }

  .rectangleDrop {
    width: 160px;
    height: 330px;
  }

  #dropdown ul li {
    font-size: 10px;
    margin-left: -23px;
  }


  .hamburger.is-opened span:first-child {
    transform: translateY(9px) rotate(45deg);
  }

  .hamburger.is-opened span:nth-child(3) {
    transform: translateY(-5px) rotate(-45deg);
  }
}