*{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}
body{
    background-color: brown;
    margin: .5%;
    color: white;
    overflow: hidden;
}
.front{
    position: relative;
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    height: 500px;
}
.sfiLogo{
    filter: invert(200%);
    margin: auto;
    flex: 1;
    text-align: center;
}
.sfiLogo img{
    width: 50%;
}
.writing{
    flex: 1;
    margin: auto;
    font-weight: 600;
    font-size: 80px;
}

@media(max-width : 750px){
    .front{
        flex-direction: column;
        height: 400px;
    }
    .writing{
        font-size: 40px;
    }
}