*{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}
body{
    background-color: rgb(255, 255, 255);
    margin: .5%;
    color: rgb(0, 0, 0);
    overflow: hidden;
}
.roundedButton{
    display: flex;
    font-weight: 600;
    width: 50px;
    border: 2px solid black;
    border-radius: 4px;
}

.roundedButton a{
    margin: auto;
    text-decoration: none;
    color: black;
}
#hero{
    animation: show 3s ease;
}
.front{
    position: relative;
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    height: 500px;
}
.sfiLogo{
    margin: auto;
    flex: 1;
    text-align: center;

}
.sfiLogo img{
    width: 50%;
}
.writing{
    flex: 1;
    margin: auto;
    font-weight: 400;
    font-size: 50px;
    text-align: center;
}
.boldWriting{
    font-weight: 600;
    font-size: 50px;
    text-align: center;
    color: red;
}
/* animations */
@keyframes show {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/* media  */
@media(max-width : 750px){
    .front{
        flex-direction: column;
        height: 400px;
    }
    .sfiLogo{
        width: 80%;
    }
    .writing{
        font-size: 40px;
    }
    .boldWriting{
        font-size: 40px;
    }
}
