:root {
    --nav-TextColor: rgb(44, 44, 44);
    --nav-DropBG: rgb(245, 245, 245);
    --nav-DropTextColor: rgb(44, 44, 44);
}

* {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: rgb(209, 200, 200);
}

.rectangleDrop {
    box-shadow: 0px 3px 10px rgb(209, 209, 209);
}

body {
    margin: 0;
    background-color: rgb(255, 255, 255);
    width: 100%;
    overflow-x: hidden;
    /* background-color: rgb(0, 0, 0); */
}

#hero1 #hero2 {
    height: 100vh;
}

#hero1 img {
    position: absolute;
    z-index: -2;
}

.rightDownSVG {
    right: -5%;
    bottom: -20%;
    width: 50%;
}

.topLeftSVG {
    left: -2%;
    top: -5%;
    width: 50%;
}

@media (max-width : 480px) {
    .rightDownSVG {
        right: -30%;
        bottom: -5%;
        width: 130%;
    }

    .topLeftSVG {
        left: -30%;
        top: 5%;
        width: 130%;
    }
}