:root {
    --nav-TextColor: rgb(241, 241, 241);
    --nav-DropBG: rgb(252, 252, 252);
    --nav-DropTextColor: rgb(44, 44, 44);
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    color: rgb(209, 200, 200);
}

body {
    height: 100vh;
    overflow: hidden;
}

.image {
    position: absolute;
    z-index: -1;
    pointer-events: none;
    filter: brightness(30%);
    object-fit: cover;
    width: 100vw;
}

#dvayaBox img {
    filter: brightness(100%);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

main h1 {
    font-size: 2rem;
    color: rgb(240, 240, 240);
    font-family: 'Chilanka', cursive;

    text-align: center;
    max-width: 70vw;
    margin-bottom: 20px;
}

main p {
    max-width: 70vw;
    text-align: center;
}
footer{
  position:absolute;
  bottom:0;
  width:100%;
  
  display:flex;
  flex-direction:column;
  justify-content:center;
  
  
  text-align:center;
}
footer img{
  text-align:center;
  width:50px;
  filter:invert(1);
}
footer div p{
  font-size:.6rem;
  text-align:center;
  margin-top:-17px;
  
}
@media (max-width: 600px) {
    .image {
        height: 100vh;

    }

    main h1 {
        font-size: 1.5rem;
    }

    main p {
        font-size: .8rem;
    }
}