:root{
    --college-HeadColor : white;
}
*{
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: WHITE;
}
body{
    margin: 0;
    background-color: black;
    width: 100%;
    overflow-x: hidden;
    /* background-color: rgb(0, 0, 0); */
}

body img{
    width: 100%;
    pointer-events: none;
}