:root {
    --nav-TextColor: rgb(56, 56, 56);
    --nav-DropBG: rgb(245, 245, 245);
    --nav-DropTextColor: rgb(44, 44, 44);
}


*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    color: rgb(209, 200, 200);
}

body {
    background: rgba(255, 255, 255, 0.9);
}

main {
    position: relative;
}

main .head {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

main .head .bgimage {
    position: absolute;
    z-index: -2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

main .head img {
    margin-left: -15%;
    width: 50vw;
    opacity: 50%;
}

main .head h1 {
    font-size: 50px;
    background: -webkit-linear-gradient(45deg, rgb(227, 17, 255), rgb(38, 0, 207));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

main .head p {
    color: rgba(51, 51, 51, 0.911);
    margin-top: 1%;
}

main .head a {
    text-decoration: none;
    color: rgba(51, 51, 51, 0.877);
    position: absolute;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .head a img {
    display: block;
    width: 12px;
    margin: 0;
}

section {
    height: 260vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#communitiesGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    margin-top: 3%;
    max-width: 60%;
}

.box h2,
p {
    text-align: center;
    color: black;
}

.top {
    color: brown;
    margin: 1%;
    text-align: center;
}

.top a {
    text-decoration: none;
    color: rgb(0, 114, 70);
}

#communitiesGroup {
    background: linear-gradient(45deg, rgba(227, 17, 255, 0.123), rgba(38, 0, 207, 0.164));
    width: 80%;
    height: 85%;
    border-radius: 5px;
}

@media (max-width: 480px) {
    main .head {
        height: 70vh;
    }

    main .head h1 {
        font-size: 24px;
        background: -webkit-linear-gradient(45deg, rgb(227, 17, 255), rgb(30, 248, 201));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    main .head p {
        width: 80%;
        font-size: 12px;
        text-align: center;
    }

    main .head a {
        position: absolute;
        bottom: 0;
        font-size: 13px;
    }

    main .head img {
        width: 100vw;
        margin-left: -35%;
    }
}