@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barlow|Bebas+Neue|Fredoka+One&display=swap');



body{

    font-family: 'Barlow', sans-serif;
    background: #4d99f0;
   /* background: linear-gradient(#ffffff 0%, #018080 100%);
    background-size: 2000% 2000%;
    */
    max-width: 100%;
    overflow-x: hidden;
}
.rect{
    width: 100%;
    height: 130px;
    margin-top: -10px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.219);
    background: rgb(255, 255, 255);
}
.homeicon{
    position: absolute;
}
.homeicon img{
    width: 28px;
    margin-left: 20px;
    margin-top: 8px;
}
.heading{
    text-align: center;
}
.heading h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 35px;
    color: rgb(0, 0, 0);
}
.heading h1 a{
    text-decoration: none;
    color: black;
}
.heading h3{
    margin-top: -30px;
    color: rgb(177, 0, 0);
    font-size: 15px;
}
.about{
    text-align: center;
    font-size: 11px;
}
.about a{
    text-decoration: none;
    font-weight: 900;
    color: rgb(0, 1, 85);
}

.maincontainer{
    background: rgb(255, 255, 255);
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.295);
}

.box{
    margin: auto;
    box-sizing: border-box;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 120px;
    height: 120px;
    border-radius: 10%;
    background: #c0c0c05e;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 6px 10px rgba(107, 107, 107, 0.404);

    
}


.box .dept{
    margin: auto;
    position: relative;
    font-size: 25px;
    margin-top: 10px;
    color: #009468c4;
    font-weight: bold;
    pointer-events: none;
}

.box .yearselect{margin: auto;
    color: #252525;
    font-weight: bold;
    font-size: 10px;
}
.hidebox{
    text-align: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-top: -53px;
    
}


.smallbox{
    display: inline-block;
    width: 19px;
    height: 19px;
    margin-top: 80px;
    border-radius: 7px;
    background: #940000c9;
    cursor: pointer;

}
.smallbox:hover{
    background: rgb(255, 0, 51);
}
.smallbox p{
    position: relative;
    text-align: center;
    margin-top: 2px;
    color: seashell;
    text-decoration: none;
    font-size: 12px;
}


@media (min-width:641px){
    /*the circles will be in row for big screens,
    utilising max screen space*/
    .maincontainer{
        flex-direction: row;
    }
    
}


footer{
    position: relative;
    margin-top: 10px ;
    height: 100px;
    display: flex;
    background: rgb(29, 29, 29);
    flex-direction: column;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    box-shadow: 0px 6px 10px rgba(41, 41, 41, 0.404);
    
}
footer .copyright{
    margin: auto;
    text-align: center;
    font-size: 10px;
    font-weight: 500;
}

footer .copyright a{
    
    text-decoration: none;
    color: rgb(133, 91, 250);
}
footer .social{
    margin: auto;
}

footer .social img{
    width: 20px;
    margin-top: 5px;
    margin-left: 10px;
}

@media (min-width:320px)  { 
    /* smartphones, iPhone, portrait 480x320 phones */ 
    
    .parse{
        pointer-events: none;
        position: absolute;
    }
    .parse img{
        width: 200px;
        margin-top: 100%;
        margin-left: 100%;
        opacity: 90%;
    }  
    .parse2{
        pointer-events: none;
        position: absolute;
    }
    .parse2 img{
        width: 250px;
        margin-top: 590px;
        margin-left: -40%;
      opacity: 90%;
    }  
    
    
}
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
  
    .parse{
        position: absolute;
        pointer-events: none;
    }
    .parse img{
        width: 300px;
        margin-top: 100%;
        margin-left: 60%;
        opacity: 90%;
    }  
    .parse2{
        pointer-events: none;
        position: absolute;
    }
    .parse2 img{
        width: 300px;
        margin-top: 590px;
        margin-left: -30%;
      opacity: 90%;
    }  
}
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
  
    .parse{
        position: absolute;
        pointer-events: none;
    }
    .parse img{
        width: 400px;
        margin-top: -10%;
        margin-left: 80%;
      opacity: 70%;
    }  
    .parse2{
        pointer-events: none;
        position: absolute;
    }
    .parse2 img{
        width: 200px;
        margin-top: 20px;
        margin-left: -10%;
      opacity: 50%;
    }  
}
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
  
    .parse{
        pointer-events: none;
        position: absolute;
    }
    .parse img{
        width: 400px;
        margin-top: -40px;
        margin-left: 550px;
      opacity: 70%;
    }  
    .parse2{
        pointer-events: none;
        position: absolute;
    }
    .parse2 img{
        width: 300px;
        margin-top: 230px;
        margin-left: 10%;
      opacity: 90%;
    }  
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ 
  .parse{
      position: absolute;
  }
  .parse img{
      width: 400px;
      margin-top: -5%;
      opacity: 90%;
      margin-left: 700px;
  } .parse2{
    pointer-events: none;
    position: absolute;
}
.parse2 img{
    width: 300px;
    margin-top: 230px;
    margin-left: 10%;
  opacity: 90%;
} 
footer{
    margin-top: 150px;
}
}  
@media (min-width:1281px){
    .parse{
        position: absolute;
    }
    .parse img{
        width: 400px;
        margin-top: -5%;
        opacity: 90%;
        margin-left: 700px;
    } .parse2{
      pointer-events: none;
      position: absolute;
  }
  .parse2 img{
      width: 300px;
      margin-top: 230px;
      margin-left: 10%;
    opacity: 90%;
  } 
  footer{
    margin-top: 150px;
}
}