@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barlow|Bebas+Neue|Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan+2&display=swap');


body{

    font-family: 'Barlow', sans-serif;
    background: rgba(143, 103, 196, 0.336);

   /* background: linear-gradient(#ffffff 0%, #018080 100%);
    background-size: 2000% 2000%;
    */
    max-width: 100%;
    overflow-x: hidden;
}
.message{
    margin-top: 20%;
    text-align: center;

}
.message a{
    text-decoration: none;
    font-weight: 900;
}