@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barlow|Bebas+Neue|Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan+2&display=swap');


body{

    font-family: 'Barlow', sans-serif;
    background: #1f6bb3d5;

   /* background: linear-gradient(#ffffff 0%, #018080 100%);
    background-size: 2000% 2000%;
    */
    
}
.rect{
    width: 100%;
    height: 180px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.219);
    background: rgb(255, 255, 255);
}
.heading{
    text-align: center;
    margin-top: -20px;
    text-shadow: rgba(59, 59, 59, 0.281) 0px 3px 3px;
}
.heading h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    color: rgb(0, 0, 0);
}
.heading h3{
    margin-top: -45px;
    color: rgb(184, 0, 0);
}
.container{
    background: rgb(255, 255, 255);
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.295);
    -webkit-tap-highlight-color: transparent;

}

.box{
    margin: auto;
    box-sizing: border-box;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100px;
    height: 100px;
    border-radius: 10%;
    background: #ffffff;
    box-shadow: 0px 5px 13px rgba(128, 131, 133, 0.267) ;
    cursor: pointer;
    font-size: 15px;
    -webkit-tap-highlight-color: transparent;

    
}
.box:hover{
    border-color: rgba(114, 0, 0, 0.733);  
    transition: .3s linear;
    box-shadow: 0px 3px 10px rgba(165, 181, 194, 0.342);
    font-size: 14.5px;
    
}
/* the below box(.get) acts like a duplicate of the above one to receive the click*/
.get{
    width: 100px;
    height: 100px;
    border-radius: 10%;
    background: rgba(220, 20, 60, 0);/*this makes the opacity of the box 0, but not the text above it*/
    display: flex;
    -webkit-tap-highlight-color: transparent;
    
}
.get .head{
    margin:auto;
    font-weight: 900;
}
.box a{
    text-decoration: none;
    color: seagreen;
    -webkit-tap-highlight-color: transparent;

}

.about{
    text-align: center;
    margin-left: 10px;
    font-size: 11px;
    font-family: 'Baloo Chettan 2', cursive;
}
.about a{
    text-decoration: none;
    font-weight: 900;
    color: rgb(0, 1, 85);
}

footer{
    position: relative;
    margin-top: 10px ;
    height: 100px;
    display: flex;
    background: rgb(29, 29, 29);
    flex-direction: column;
    border-radius: 10px;
    color: rgb(255, 255, 255);
}
footer .copyright{
    margin: auto;
    text-align: center;
    font-size: 10px;
    font-weight: 500;
}

footer .copyright a{
    
    text-decoration: none;
    color: rgb(233, 186, 32);
}
footer .social{
    margin: auto;
}

footer .social img{
    width: 20px;
    margin-top: 5px;
    margin-left: 10px;
}

.parse{
    animation-name: move;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
@keyframes move {
    from{
        transform: translateY(-2px);
    }
    to{
    }
}

/*BEST VIEWED ON MOBILE DIV*/
/*BEST VIEWED ON MOBILE DIV*/
/*BEST VIEWED ON MOBILE DIV*/
/*BEST VIEWED ON MOBILE DIV*/
/*BEST VIEWED ON MOBILE DIV*/
/*BEST VIEWED ON MOBILE DIV*/
/*BEST VIEWED ON MOBILE DIV*/
/*BEST VIEWED ON MOBILE DIV*/

.pcdisc{
    width: 20%;
    position: relative;
    margin-left: 75%;
    margin-top: -20%;
    -moz-animation: cssAnimation 0s ease-in 7s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-out 7s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 7s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-out 7s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}
  .pcdisc .text{
      font-size: 10px;
    color: rgba(0, 0, 0, 0.705);
    text-align: center;
    
  }
  
  @media (min-width:320px)  { 
      /* smartphones, iPhone, portrait 480x320 phones */ 
      .pcdisc{
        display: none;
      }
      .parse{
          pointer-events: none;
          position: absolute;
      }
      .parse img{
          width: 300px;
          margin-top: 65%;
          margin-left: -30%;
        opacity: 80%;
        pointer-events: none;
      }  
  }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
    .pcdisc{
        display: none;
      }
      
      .parse{
          position: absolute;
          pointer-events: none;
      }
      .parse img{
          width: 400px;
          margin-top: 25%;
          margin-left: -40%;
        opacity: 80%;
        pointer-events: none;
      }  
  }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
    .pcdisc{
        display: none;
      }
      .parse{
          position: absolute;
          pointer-events: none;
      }
      .parse img{
          width: 500px;
          margin-top: 15%;
          margin-left: -25%;
        opacity: 90%;
        pointer-events: none;
      }  
  }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    
      .parse{
          pointer-events: none;
          position: absolute;
      }
      .parse img{
          width: 500px;
          margin-top: 15%;
        opacity: 90%;
        margin-left: -10%;
      }  
  }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ 
    .parse{
        position: absolute;
    }
    .parse img{
        width: 600px;
        margin-top: 0%;
        opacity: 90%;
        margin-left: -10%;
    }  }
@media (min-width:1281px){
    .parse{
        position: absolute;
    }
    .parse img{
        width: 550px;
        margin-top: 5%;
        margin-left: -10%;
        opacity: 70%;
    }  
    
}