#navBar {
    margin: 0 auto;
    font-weight: 600;
}

nav ul {
	padding: 0;
  margin: 0;
	list-style: none;
    position: relative;
	}
	
nav ul li {
	display:inline-block;
	}

nav a {
	display:block;
	padding:0 10px;	
	color:black;
	font-size:15px;
	line-height: 30px;
    text-decoration:none;
}
nav ul ul{
background: rgba(228, 228, 228, 0.466);
border-radius: 4px;
animation: showDrop 1s;
}
nav ul ul ul{
    background: none;
animation: showDrop 1s;
}
nav ul ul {
	display: none;
	position: absolute; 
}
nav ul li:hover > ul {
	display:inherit;
}
nav ul ul li {
	float:none;
	display:list-item;
	position: relative;
}

/* Second, Third and more Tiers	*/
nav ul ul ul li {
	position: relative;
	top:-30px; 
	left:70px;
}

	
/* Change this in order to change the Dropdown symbol */
li > a:after { content:  ' '; }
li > a:only-child:after { content: ''; }

#freshersButton{
    font-weight: 600;
    z-index: 1;
    position: absolute;
    right: 1%;
    color: black;
    border: 2px solid black;
    border-radius: 3px;
    padding: 5px;
    cursor: pointer;
}
#freshersButton:hover{
    color: white;
    background: black;
}

@keyframes showDrop{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}