*{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}
body{
    /* background-color: rgba(109, 255, 248, 0.562); */
    width: 100%;
    overflow-x: hidden;
}
#hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
}
#collegeName{
    font-size: 50px;
    text-align: center;
    animation : showSlowly 2s;
}

@keyframes showSlowly {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

